/* UnloadingPages.css */
.unloading-page-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/fon1.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1; /* Поместите фон под другие элементы */
  }
.layout {
    min-height: 100vh;
    background: #f0f2f5;
}

.header {
    background: #1890ff;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.header-title {
    color: #fff;
    margin: 0;
}
.content {
    padding: 20px 50px;
    max-width: 800px;
    margin: 0 auto;
}

.search-container {
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-input {
    margin-bottom: 20px;
}

.result-card {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.send-sms-button {
    background-color: #52c41a;
    border: none;
}

.send-sms-button:hover {
    background-color: #389e0d;
}

.footer {
    text-align: center;
    background: #001529;
    color: #fff;
    padding: 20px 0;
}
